### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
.gradle-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse (если кто-то вдруг откроет проект) ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Generated Docs ###
generated-docs/
secret-settings.yml

### Other temp ###
*.tmp
*.swp
*.swo

